@import "variable";

.profile-container {
  max-width: 800px;
  margin: auto;
  .user-post-item {
    min-height: 80px;
    max-height: 140px;
    padding: 15px 0;
    border-bottom: 1px solid #eaeaea;
    .post-img {
      margin-top: 4px;
    }
    .post-title {
      margin-top: 0;
    }
  }
}

.profile {
  padding: 10px;
  .profile-header {
    margin-bottom: 20px;
    .changhe-img-form {
      margin-top: 10px;
    }
  }
  .profile-img {
    max-width: 150px;
    max-height: 150px;
    margin: auto;
    img {
      width: 100%;
      height: auto;
      margin: auto;
    }
  }
}
.profile-sidebar-nav{
  .tab-bar{
    .nav{
        font-weight: 600;
        li{

          a{
            padding: 10px 17px;
          }
            a:hover{
              text-decoration: none;
              border-bottom: 4px solid #222;
              border-radius: 0;
              background-color: #fafafa;

            }
          }

        li.active{
          a{
              color: #222f3f;
              border-bottom: 4px solid #222f3f;
              border-radius: 0;
              background-color: #fafafa;
              
            }
        }

        li+li{
          margin-left: 1px;
        }
    }
  }
}

#profile-content{
  .story-item{
    .row{
      margin: auto 0;
    }
    .story-title{
      margin-top: -2px;
      a{
        color: @color555 !important;
      }

    }
  }
  .notification-item{
    padding: 10px 0;
    p{
      padding: 0 !important;
      margin: 0 0 5px 0;
      line-height: 1;
    }
    .notification-title{
      font-weight: 600;
    }
    .img_box52_right{
      margin-top: -2px;
    }
    .dropdown_menuOption_right{
      width: auto;
      min-width: 160px;
    }
  }
  label{
    margin: 0;
    line-height: 34px;
  }

  .left-15{
    left: 15px;
  }

  .media{
    height: 84px;
    width: 150px;
    .media-left{
      padding-right: 20px;
    }
  }

  table{
    tbody{
      tr{
        td{
          border: none;
        }
      }
    }
  }
}


@media screen and (min-width: 768px) {

}



@media screen and (max-width: 768px) {


.box{
    
   .navbar-default{
        background-color: #ffffff;
        border-radius: 0;
        border-bottom: 1px solid #eaeaea;
    }
}

.profile-sidebar-nav{
  .tab-bar{
    .nav-pills{
      li{
        float: none;
        display: block;
      }
    }
  }
}


}