@import "variable";

#project_carousel {
  padding: 5px 0;
}

.project {
  .project-title {

  }
  .project-description {
    p {
      font-size: 16px !important;
    }
  }
}

.project-left-sidebar {
  .project-left-md {
    display: none;
    @media only screen and (min-width: @screen-md-min) {
      display: block;
    }
  }
  .project-left-sm {
    display: none;
    @media only screen and (max-width: 991px) {
      display: block;
    }
    .box {
      margin-bottom: 10px;
    }
    .project-info {
      padding-top: 15px;
      margin-bottom: -15px;
      p {
        margin-bottom: 0;
      }
    }
  }
}

.project-right-sidebar {
  @media only screen and (max-width: 991px) {
    display: none;
  }
}
