@import "variable";

.nicescroll-rails{
  display: none !important;
}

.sibebar-panel {
  .list-group-title {
    background-color: transparent !important;
    border: none !important;
    color: @color999 !important;
    font-weight: 600 !important;
    font-size: 12px !important;
  }
  li{
    margin-bottom: 4px;
    line-height: 22px;
    padding: 0;
    background-color: #ffffff;
    display: block;
    border: 1px solid #eaeaea;
    a{
      display: inline-block;
      width: 100%;
      font-size: 16px;
      color: @color555;
      text-decoration: none;

    }
    a:active{
      color: @color555;
      transition: none;
    }
    a:hover{
      color: @default-red;
      transition: none;
      background-color: #ffffff;
    }
  }
}
#list-left-sidebar{
  display: block;
  height: 100%;
  
  .sidebar-link-list{
    margin-bottom: 36px;
    .list-icon{
      margin-right: 5px;
    }
    li{
      a{
        padding: 5px 8px;
      }
    }
  }

  .active a{
      color: #000;
  }



  img{
    height: 24px;
    width: 24px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
}


#list-right-sidebar{
  display: block;
  height: 100%;
  .sidebar-link-list{
    li.list-group-title{
      padding: 0 !important;
      min-height: 5px !important;
    }
    li.list-group-item{
      min-height: 60px;
      padding: 5px 5px;
    }
  }

}


.sidebar-mobile-panel{
  margin: 70px auto 50px auto;
}
#openSidebar{
  display: none;
}
@media screen and (max-width: 1025px){
  #left-sidebar{
    display: none;
  }
  #right-sidebar{
    display: none;
  }
  #openSidebar{
    display: block;
    float: right;
    width: 32px;
    height: 24px;
    padding: 0;
    color: white;
    background-color: black;
    border: 0;
    box-shadow: 0 0 0 2px white;
  }
  #right-sidebar{
    display: none;
  }
  .list-content{
    width: 100% !important;
  }
}
.sidebar-panel-divider{
  height: 2px;
  width: 80%;
  background-color: #1b6d85;
  display: inline-block;
  position: relative;
}