.ul-box {
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}
.ul-box li {
	width: 100%;
	overflow: hidden;
}
.ul-box li img {
	height: 100%;
	display: block;
	margin: 0 auto;
	padding: 0;
}
.orb-box {
	height: 24px;
	display: block;
	padding: 3px;
}
.orb {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ccc;
	margin: 7px 6px 0 6px;
}
.selected {
	background-color: #aaa;
}
.image {
	position: absolute;
	float: none;
	width: 100%;
	margin-left: 100%;
}
.visible {
	margin: 0px;
}
.nav {
	width: 50px;
	position: absolute;
	text-align: center;
	top: 0;
	bottom: 0;
	font-size: 2.5em;
	z-index: 99;
	text-decoration: none;
	color: rgba(255, 255, 255, .5);
	background-color: rgba(40, 90, 180, .03);
}
.nav.left {
	left: 0;
}
.nav.right {
	right: 0;
}
